/* src/app/styles/layout.css */

.page {
  text-align: center;
  color: hsla(0, 100%, 3%, 1);
}

.page-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-static {
  margin-top: 60px;
  padding-bottom: 60px;
}

.page-heading-h1 {
  margin-top: 0;
  font-size: 56px;
}

.page-heading-h2 {
  font-size: 32px;
}

.page-heading-h3,
.page-text {
  font-size: 21px;
}

.page-heading-h4 {
  font-size: 18px;
}